1. 주어진 데이터는 각 소방서의 출동/도착 시간데이터이다.
출동시간과 도착시간 차이가 평균적으로 가장 오래 걸린 소방서의 시간을 분으로 변환해 출력하시오. (반올림 후 정수 출력)

In [33]:
import pandas as pd
df = pd.read_csv("data6-1-1.csv")
# print(df.head())
# print(df.info())
# print(dir(pd))
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])
df['diff'] = df['도착시간'] - df['출동시간']
df['diff'] = df['diff'].dt.total_seconds() / 60
#df.head()
#우선 초로 구해야 함. dt.total_seconds로 구함.

# 그룹별로 구할때는 groupby('컬럼').mean() 등으로 구함.
#print(round(max(df.groupby('소방서')['diff'].mean())))
result = df.groupby('소방서')['diff'].mean()
result = result.sort_values(ascending = False)
print(round(result[0]))

81

2. 학교에서 교사 한 명당 맡은 학생 수가 가장 많은 학교를 찾고, 그 학교의 전체 교사 수를 구하시오. (정수 출력)

In [35]:
import pandas as pd
df = pd.read_csv("data6-1-2.csv")

In [56]:
cols = ['1학년', '2학년', '3학년', '4학년', '5학년', '6학년']
df['sum'] = 0
for col in cols:
  df['sum'] = df['sum'] + df[col]
df['counter'] = (df['sum'] / df['교사수'])
print(df)
cond1 = df['counter'] == max(df['counter'])
print(df[cond1]['교사수'].values[0])

      학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년    counter  sum
0     학교1   20  118   72  154  118   77   59  29.900000  598
1     학교2   31  187  193  135  137   63   90  25.967742  805
2     학교3   23  136  193  135  112   91   50  31.173913  717
3     학교4   32   72  146   67   51  130  164  19.687500  630
4     학교5   22   61   73   86   82   55  124  21.863636  481
..    ...  ...  ...  ...  ...  ...  ...  ...        ...  ...
95   학교96   38   75  166  113  191  172   57  20.368421  774
96   학교97   30  125  169  145  122  187  194  31.400000  942
97   학교98   37  136  100   93   60  145   63  16.135135  597
98   학교99   37   74  175  145  157   95   76  19.513514  722
99  학교100   40   68  109  196  148   84  179  19.600000  784

[100 rows x 10 columns]
19

In [57]:
df.loc[7, '교사수'] #7번 인덱스의 '교사수' 컬럼의 값

19

3. 연도별로 총 범죄 건수(범죄유형의 총합)의 월평균 값을 구한 후 그 값이 가장 큰 연도를 찾아, 해당 연도의 총 범죄 건수의 월평균 값을 출력하시오. (반올림하여 정수로 출력)

In [75]:
import pandas as pd
df = pd.read_csv("data6-1-3.csv")

In [81]:
df.head()
df['연도'] = pd.to_datetime(df['날짜'], format = '%Y년 %M월')
df['연도'] = df['연도'].dt.year
#print(df)
#print(df)
df['총범죄건수'] = df.iloc[:, 1:7].sum(axis = 1)
# print(df)
result = df.groupby('연도')['총범죄건수'].sum() / 12
print(round(result.max()))
# print(df.groupby('연도')['총범죄건수'].sum()/ 12)

515