<a href="https://colab.research.google.com/github/Joyfuler/webPro/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_2%ED%9A%8C%EC%B0%A8_1%EC%9C%A0%ED%98%95%EA%B8%B0%EC%B6%9C(0610).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1
- 빅데이터 분석기사 2회 실기 (참고: 1회 실기는 취소됨)
- 데이터: members.csv

In [14]:
import pandas as pd
df = pd.read_csv('members.csv')
print(df) # 총 100개의 데이터 존재.

      id    age city    f1  f2      f3    f4         f5  subscribed   views
0   id01    2.0   서울   NaN   0    gold  ENFJ  91.297791  2021-07-16  6820.0
1   id02    9.0   서울  70.0   1     NaN  ENFJ  60.339826  2021-05-12  2534.0
2   id03   27.0   서울  61.0   1    gold  ISTJ  17.252986  2021-03-16  7312.0
3   id04   75.0   서울   NaN   2     NaN  INFP  52.667078  2021-07-21   493.0
4   id05   24.0   서울  85.0   2     NaN  ISFJ  29.269869  2021-03-07  1338.0
..   ...    ...  ...   ...  ..     ...   ...        ...         ...     ...
95  id95   77.0   경기  43.0   1    gold  INTJ  91.297791  2021-05-21  8697.0
96  id96   92.0   경기  53.0   1  silver  ENTJ  52.667078  2021-05-06  4336.0
97  id97  100.0   경기   NaN   0    gold  INFP  67.886373  2021-03-18  6687.0
98  id98   39.0   경기  58.0   2     NaN  INFP  98.429899  2021-10-02   865.0
99  id99    1.0   경기  47.0   0    gold  ESFJ  97.381034  2021-12-02  6090.0

[100 rows x 10 columns]

## 문제1
- 주어진 데이터셋(members.csv)의 'views' 컬럼 상위 10개 데이터를 상위 10번째 값으로 대체한 후 'age'컬럼에서 80 이상인 데이터의 'views' 컬럼 평균값 구하기

In [ ]:
# your code

In [18]:
df = df.sort_values('views', ascending = False)
# print(df.head(10)) # 10번째 값은 9690.0
# 혹은 하드코딩 대신 해당 범위 중 최소값을 가져올 수도 있음.
min_value = df['views'][:10].min()
#print(min_value)

# 최소값을 상위 10번째 값들에 대입.
df.iloc[:10, -1] = min_value
#총 10번째까지의 값이고, views는 가장 마지막에 위치했으므로 -1
# 혹은 순서를 직접 세서 대체해도 됨.

print(df.head(12))

# age 컬럼이 80이상인 데이터의 views 평균 구하기
cond = df['age'] >= 80
print(df[cond]['views'].mean()) # cond 조건에 해당했을 때 view 컬럼의 mean: 5674.04347826087

# 정답 제출시에는 print 주석 처리 잊지 말것!

       id   age city    f1  f2    f3    f4         f5  subscribed   views
5    id06  22.0   서울  57.0   0   vip  INTP  20.129444  2021-09-12  9690.0
56   id56  59.0   대구   NaN   1   vip  ESTJ  73.586397  2021-04-05  9690.0
83   id83  73.0   경기  50.0   1   vip  ENTP  80.138280  2021-09-26  9690.0
32   id32  25.0   부산  64.0   0   vip  ISFJ  13.049921  2021-05-24  9690.0
10  id100  47.0   경기  53.0   0   vip  ESFP  33.308999  2021-02-21  9690.0
9    id10  95.0   서울  74.0   1  gold  ISFP  98.429899  2021-04-03  9690.0
49   id49  75.0   대구  88.0   0  gold  INTP  37.113739  2021-03-31  9690.0
36   id36  68.0   부산  77.0   1  gold  INTP  13.049921  2021-07-20  9690.0
46   id46  93.0   대구   NaN   0  gold  ESTJ  67.886373  2021-05-23  9690.0
21   id21  90.0   부산   NaN   1  gold  ISFP  29.269869  2021-05-03  9690.0
9690.0
       id   age city    f1  f2    f3    f4         f5  subscribed   views
5    id06  22.0   서울  57.0   0   vip  INTP  20.129444  2021-09-12  9690.0
56   id56  59.0   대구   NaN   1   vip  ESTJ  73.586397  2021-04-05  9690.0
83   id83  73.0   경기  50.0   1   vip  ENTP  80.138280  2021-09-26  9690.0
32   id32  25.0   부산  64.0   0   vip  ISFJ  13.049921  2021-05-24  9690.0
10  id100  47.0   경기  53.0   0   vip  ESFP  33.308999  2021-02-21  9690.0
9    id10  95.0   서울  74.0   1  gold  ISFP  98.429899  2021-04-03  9690.0
49   id49  75.0   대구  88.0   0  gold  INTP  37.113739  2021-03-31  9690.0
36   id36  68.0   부산  77.0   1  gold  INTP  13.049921  2021-07-20  9690.0
46   id46  93.0   대구   NaN   0  gold  ESTJ  67.886373  2021-05-23  9690.0
21   id21  90.0   부산   NaN   1  gold  ISFP  29.269869  2021-05-03  9690.0
92   id92  97.0   경기  78.0   1  gold  INFP  97.381034  2021-05-08  9625.0
16   id16  68.0   서울  85.0   0  gold  ESFP  16.283854  2021-07-25  9472.0
5674.04347826087

## 문제2
- 주어진 데이터셋(members.csv)의 앞에서부터 순서대로 80% 데이터만 활용해 'f1'컬럼 결측치를 중앙값으로 채우기 전 후의 표준편차를 구하고, 두 표준편차 차이 계산하기
(단, 표본표준편차 기준, 두 표준편차 차이는 절대값으로 계산)

In [ ]:
# your code

In [37]:
# 데이터셋의 길이를 우선 구함.
print(len(df))
# 총 데이터의 길이는 100이므로 80%면 80의 길이만큼만 활용.
# 하드코딩해도 되지만, len에 퍼센트를 곱해서 사용할 수도 있음.
df80 = df.iloc[:(int)(len(df) * 0.8)]

# 결측치를 채우기 전 표준편차 값 - std 함수를 이용하여 pandas에서 쉽게 계산 가능.
print(df80['f1'].std()) # 19.305371491402404

# 결측치 채우기
print(df80.isnull().sum()) # f1에 23개의 결측치 존재.
df80after = df80.fillna(df80['f1'].median()) # 결측치를 중앙값으로 채운다.
print(df80after.isnull().sum())
print(df80after['f1'].std())
#16.254381103668365

# 두 표준편차 차이를 계산. 절대값
print(abs(df80['f1'].std() - df80after['f1'].std()))

100
19.305371491402404
id             0
age            0
city           0
f1            23
f2             0
f3             8
f4             0
f5             0
subscribed     0
views          0
dtype: int64
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64
16.254381103668365
3.050990387734039
19.305371491402404

## 문제3
- 주어진 데이터셋(members.csv)의 'age'컬럼의 이상치를 모두 더하시오!
- 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [ ]:
# your code

In [43]:
# age 컬럼의 이상치를 구하는 방법? 표준편차 * 1.5를 벗어나는 경우
# 평균 + 표준편차 * 1.5보다 크거나, 평균 - 표준편차 *1.5보다 작은 경우.

# 1. age 컬럼의 평균치를 구한다.
mean = df['age'].mean()
print(mean) #50.962999999999994

# 2. age 컬럼의 표준편차
std = df['age'].std()
print(std) #30.44275852258869

lower = mean - (std * 1.5)
upper = mean + (std * 1.5)
print("최소치:", lower, "/ 최대치:", upper)

cond1 = df['age'] < lower #age는  lower보다 낮거나 upper보다 높으면 이상치
cond2 = df['age'] > upper
print(df[cond1 | cond2]['age'].sum())

50.962999999999994
30.44275852258869
최소치: 5.298862216116959 / 최대치: 96.62713778388303

473.5

### 심화학습
- 모 표준편차(넘파이) vs 표본 표준편차(판다스)

In [ ]:
# import numpy as np
# print(df['f1'].std())
# print(np.std(df['f1']))